body {
    background-color: wheat;
    
}

h1 {
    color: white;
}
p{

    font-size: 15px;
    
}
img{
    border-radius: 50%;
}

ul{
    list-style: square;
    position: -webkit-sticky;
    position: sticky;
    
    
}
a:link{
    color: red;
}
a:hover{
    color: white;
}
a:visited
{
    color: rgb(132, 115, 206);
}

.tab {
    overflow: hidden;
    border: 1px solid rgb(58, 58, 58);
    background-color: rgb(58, 58, 58);
  }
  
  .tab button {
    background-color: rgb(58, 58, 58);
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color:lightgrey;
  }
  
  .tab button.active {
    background-color: rgb(63, 63, 62);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(58, 58, 58);
    border-top: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  .accordion {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: rgb(94, 88, 88);
  }
  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    padding: 0px 18px;
    background-color:lightgrey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel * {
    color: black;
  }
  .img_text {
    float: left;
    padding: 10px;
      }

#div1 {
  width: 250px;
  height: 250px;
  padding: 10px;
  border: 1px solid;
}

body {
  color: white;
  background: -webkit-radial-gradient( ellipse cover,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  
}


.column
{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after
{
  content: "";
  clear: both;
  display: table;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}